<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="field">
    <%= form.label :sku_code %>
    <%= form.text_field :sku_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :desciption %>
    <%= form.text_field :desciption %>
  </div>

  <div class="field">
    <%= form.label :mgf_date %>
    <%= form.date_field  :mgf_date %>
  </div>

  <% Warehouse.all.each do |warehouse| %>
  <%= check_box_tag "product[warehouse_ids][]", warehouse.id, product.warehouse_ids.include?(warehouse.id), id: dom_id(warehouse) %>
  <%= label_tag dom_id(warehouse), warehouse.name %><br/>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
